@import "./general"

/* Component-specific styles are found below. */
// - Pages
@import "../pages/Dashboard"

// - Large and/or store-connected components.
@import "../components/movies/TopMovies"

// - Reusable or building-block components.
@import "../components/navigation/Navbar"
@import "../components/navigation/LoginForm"
@import "../components/common/Modal"
@import "../components/movies/MovieCard"
