.dashboard-container
    &.page
        padding-top $height-of-navbar + 5px

    &:after
        content "just a placeholder"

@media $max-sm-exclusive
    .dashboard-container
        &.page
            padding-top $height-of-navbar-max-sm-exlusive + 5px
