@import "./reset"
@import "./colors"
@import "./text"
@import "./dimensions"

html, .root-app
    color $general-text-color
    background $bg-color-for-app
    font-family $general-fonts
    font-weight 300

.root-app
    display block
    box-sizing border-box
    width 100vw
    max-width 100vw
    height 100vh
    max-height 100vh

    *
        box-sizing border-box

    .page
        display block
        width 100%
        height 100%
        padding 0
        margin 0
        background transparent

    .page-section
        padding 0 $app-gutter-size

    .disabled-btn
        cursor not-allowed
