@import "./reset"
@import "./colors"
@import "./text"
@import "./dimensions"
@import "./values.styl"

html, .root-app
    color $general-text-color
    background $bg-color-for-app
    font-family $general-fonts
    font-weight 300

    .app-name
        font-family "Andale Mono", "Cutive Mono", monospace
        font-size 16px
        line-height 18px

    input
        border 0
        box-sizing border-box
        width 100%
        height $general-input-field-height
        padding 15px 32px
        background $bg-color-for-app
        color $white
        font-family Hind
        font-size 20px
        line-height 32px

        &::placeholder
            color $input-placeholder-color
            font-family Hind
            font-size 20px
            line-height 32px

    h2
        color $white
        font-family Roboto, sans-serif
        font-size 32px
        line-height 38px

.root-app
    display block
    width 100vw
    max-width 100vw
    height 100vh
    max-height 100vh

    .page
        display block
        width 100%
        height 100%
        padding 0
        margin 0
        background transparent

    .page-section
        padding 0 $app-gutter-size

    .disabled-btn
        cursor not-allowed
